<div
  class="w-[595px] h-[234px] bg-white rounded-[8.79px] shadow-[0px_1px_16.7px_rgba(0,0,0,0.15)] p-[12px]"
>
  <h2 class="text-[10px] font-medium text-[#111827] mb-[8px]">Top Selling Products</h2>

  <table class="w-full border-separate border-spacing-y-[6px]">
    <thead>
      <tr class="bg-[#3B82F6] text-white text-[10px] font-medium uppercase h-[30px]">
        <th class="px-[15px] py-[6px] text-left rounded-l-[8px]">Product</th>
        <th class="px-[15px] py-[6px] text-left ">Total Order</th>
        <th class="px-[15px] py-[6px] text-left">Status</th>
        <th class="px-[15px] py-[6px] text-left rounded-r-[8px]">Price</th>
      </tr>
    </thead>

    <tbody class="text-[9.89px] font-medium">
      <tr class="bg-[#F4F5F7] h-[30px]">
        <td class="px-[15px] py-[6px] rounded-l-[8px] border-0">Nike Air Jordan</td>
        <td class="px-[15px] py-[6px] border-0">500</td>
        <td class="px-[15px] py-[6px] border-0">
          <div class="flex items-center gap-[6px]">
            <span class="w-[6px] h-[6px] bg-[#10B981] rounded-full"></span>
            <span class="text-[10px] text-[#10B981]">Stock</span>
          </div>
        </td>
        <td class="px-[15px] py-[6px] rounded-r-[8px] border-0">₹12,000</td>
      </tr>

      <tr class="bg-[#F4F5F7] h-[30px]">
        <td class="px-[15px] py-[6px] rounded-l-[8px]">Apple Watch Series 7</td>

        <td class="px-[15px] py-[6px]">458</td>

        <td class="px-[15px] py-[6px]">
          <div class="flex items-center gap-[6px]">
            <span class="w-[6px] h-[6px] bg-[#10B981] rounded-full"></span>
            <span class="text-[10px] text-[#10B981]">Stock</span>
          </div>
        </td>

        <td class="px-[15px] py-[6px] rounded-r-[8px]">₹50,000</td>
      </tr>

      <tr class="bg-[#F4F5F7] h-[30px]">
        <td class="px-[15px] py-[6px] rounded-l-[8px]">Amazon Echo Dot</td>

        <td class="px-[15px] py-[6px]">342</td>

        <td class="px-[15px] py-[6px]">
          <div class="flex items-center gap-[6px]">
            <span class="w-[6px] h-[6px] bg-[#10B981] rounded-full"></span>
            <span class="text-[10px] text-[#10B981]">Stock</span>
          </div>
        </td>

        <td class="px-[15px] py-[6px] rounded-r-[8px]">₹19,000</td>
      </tr>

      <tr class="bg-[#F4F5F7] h-[30px]">
        <td class="px-[15px] py-[6px] rounded-l-[8px]">Apple iPhone 13</td>

        <td class="px-[15px] py-[6px]">300</td>

        <td class="px-[15px] py-[6px]">
          <div class="flex items-center gap-[6px]">
            <span class="w-[6px] h-[6px] bg-[#10B981] rounded-full"></span>
            <span class="text-[10px] text-[#10B981]">Stock</span>
          </div>
        </td>

        <td class="px-[15px] py-[6px] rounded-r-[8px]">₹60,000</td>
      </tr>
    </tbody>
  </table>
</div>
