<div class="grid grid-cols-4 gap-[24px] mt-[24px]">
  <div
    class="relative w-[236px] h-[110px] bg-[#F59E0B] rounded-[14.53px] shadow-[0px_3.63px_13.17px_#F59E0B] flex items-center px-[18px]"
  >
    <div class="w-[50px] h-[50px] rounded-full bg-white/30 flex items-center justify-center">
      <img src="/total-orders.png" />
    </div>

    <div class="ml-[12px]">
      <p class="text-[16.34px] font-semibold text-white leading-none">12,450</p>

      <p class="text-[10.9px] font-medium text-[#ECECEC] mt-[6px]">Total Orders</p>
    </div>

    <img src="/total-order-o.png" class="absolute bottom-0 right-0" />
  </div>

  <div
    class="relative w-[236px] h-[110px] bg-[#EF4444] rounded-[14.53px] shadow-[0px_3.63px_13.17px_#EF4444] flex items-center px-[18px]"
  >
    <div class="w-[50px] h-[50px] rounded-full bg-white/30 flex items-center justify-center">
      <img src="/total-sales.png" />
    </div>

    <div class="ml-[12px]">
      <p class="text-[16.34px] font-semibold text-white leading-none">₹2,350,000</p>
      <p class="text-[10.9px] font-medium text-[#ECECEC] mt-[6px]">Total Sales</p>
    </div>

    <img src="/total-sales-o.png" class="absolute bottom-0 right-0" />
  </div>

  <div
    class="relative w-[236px] h-[110px] bg-[#3B82F6] rounded-[14.53px] shadow-[0px_3.63px_13.17px_#3B82F6] flex items-center px-[18px]"
  >
    <div class="w-[50px] h-[50px] rounded-full bg-white/30 flex items-center justify-center">
      <img src="/reg-customers.png" />
    </div>

    <div class="ml-[12px]">
      <p class="text-[16.34px] font-semibold text-white leading-none">8,120</p>
      <p class="text-[10.9px] font-medium text-[#ECECEC] mt-[6px]">Registered Customers</p>
    </div>

    <img src="/reg-customers-o.png" class="absolute bottom-0 right-0" />
  </div>

  <div
    class="relative w-[236px] h-[110px] bg-[#10B981] rounded-[14.53px] shadow-[0px_3.63px_13.17px_#10B981] flex items-center px-[18px]"
  >
    <div class="w-[50px] h-[50px] rounded-full bg-white/30 flex items-center justify-center">
      <img src="/active-orders.png" />
    </div>

    <div class="ml-[12px]">
      <p class="text-[16.34px] font-semibold text-white leading-none">1,050</p>
      <p class="text-[10.9px] font-medium text-[#ECECEC] mt-[6px]">Active Orders</p>
    </div>

    <img src="/active-orders-o.png" class="absolute bottom-0 right-0" />
  </div>
</div>
